* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* remove scrollbar chrome */

::-webkit-scrollbar {
    display: none;
}

.carousel {
    width: 70vw;
}

.slider {
    display: flex;
    width: 100%;
    overflow: scroll;
    /* remove scrollbar */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

img {
    width: 100%;
}


/* arrows */

i {
    position: absolute;
    top: 50%;
    opacity: 0.5;
    color: white;
    font-size: 2rem;
}

i:hover {
    cursor: pointer;
    opacity: 1;
}

#prevBtn {
    left: 1rem;
}

#nextBtn {
    right: 1rem;
}